body
{
background-color: rgb(18, 236, 164);
}

#xscratch 
{
   width: 10%
}

h1
{
    text-align: center 
}

p
{
    text-align: center 
}

#missao
{
    font-size: 20px
}

strong 
{
    color:rgb(12, 12, 206)
}